<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>
<div class="container">
    <h1>About the Project</h1>

    <p>
        Time Management System is a web application for planning and organizing
        daily time using schedule-based time blocks.
    </p>
    <h2>Team — SE-2427</h2>
    <ul>
        <li>Yesset</li>
        <li>Meiirzhan</li>
        <li>Miras</li>
        <li>Nurtore</li>
    </ul>
</div>
</body>
</html>
